# API Configuration
VITE_API_URL=http://localhost:3001/api

# AWS S3 Configuration (Production)
VITE_AWS_S3_BUCKET=trackfarmops
VITE_AWS_REGION=us-east-1
VITE_AWS_ACCESS_KEY_ID=5a67cc4d-84e9-4093-93ae-d20ce653d39a
VITE_AWS_SECRET_ACCESS_KEY=4RXGXLIE6MHWTP7ADIKAKCTNTRIEF6ZFJMBVGEODLZIFYYMMVH27SEXOGML2PT3K
VITE_AWS_ENDPOINT=
VITE_AWS_FORCE_PATH_STYLE=false

# Backend Environment Variables
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/farmops"

# JWT Secret
JWT_SECRET=your_jwt_secret_here
