--
-- PostgreSQL database dump
--

\restrict lLkWUWkLzhVotmXhs9a4LvGEZ962ku2csWABiuiVTtl2BguGa7NBUH5xyjvasjS

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: farmops_prod_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO farmops_prod_user;

--
-- Name: ActivityStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."ActivityStatus" AS ENUM (
    'PLANNED',
    'IN_PROGRESS',
    'COMPLETED',
    'CANCELLED',
    'PAUSED'
);


ALTER TYPE public."ActivityStatus" OWNER TO farmops_prod_user;

--
-- Name: CropStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."CropStatus" AS ENUM (
    'PLANNING',
    'PLANTED',
    'GROWING',
    'MATURE',
    'HARVESTED',
    'FAILED'
);


ALTER TYPE public."CropStatus" OWNER TO farmops_prod_user;

--
-- Name: EquipmentStatusType; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."EquipmentStatusType" AS ENUM (
    'OPERATIONAL',
    'MAINTENANCE',
    'REPAIR',
    'OUT_OF_SERVICE'
);


ALTER TYPE public."EquipmentStatusType" OWNER TO farmops_prod_user;

--
-- Name: HealthRecordStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."HealthRecordStatus" AS ENUM (
    'SCHEDULED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."HealthRecordStatus" OWNER TO farmops_prod_user;

--
-- Name: HealthRecordType; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."HealthRecordType" AS ENUM (
    'CHECKUP',
    'VACCINATION',
    'TREATMENT',
    'SURGERY',
    'LAB_TEST',
    'OTHER'
);


ALTER TYPE public."HealthRecordType" OWNER TO farmops_prod_user;

--
-- Name: InventoryType; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."InventoryType" AS ENUM (
    'LIVESTOCK',
    'PRODUCE',
    'CONSUMABLES',
    'SEEDS',
    'FERTILIZERS',
    'PESTICIDES',
    'EQUIPMENT',
    'SUPPLIES',
    'MEDICINE',
    'FEED',
    'OTHER'
);


ALTER TYPE public."InventoryType" OWNER TO farmops_prod_user;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'PENDING',
    'PAID',
    'OVERDUE',
    'CANCELLED'
);


ALTER TYPE public."InvoiceStatus" OWNER TO farmops_prod_user;

--
-- Name: IrrigationStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."IrrigationStatus" AS ENUM (
    'SCHEDULED',
    'RUNNING',
    'COMPLETED',
    'FAILED',
    'CANCELLED'
);


ALTER TYPE public."IrrigationStatus" OWNER TO farmops_prod_user;

--
-- Name: LivestockGender; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."LivestockGender" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."LivestockGender" OWNER TO farmops_prod_user;

--
-- Name: LivestockHealthStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."LivestockHealthStatus" AS ENUM (
    'HEALTHY',
    'SICK',
    'QUARANTINE',
    'RECOVERY',
    'CRITICAL'
);


ALTER TYPE public."LivestockHealthStatus" OWNER TO farmops_prod_user;

--
-- Name: LivestockSpecies; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."LivestockSpecies" AS ENUM (
    'CATTLE',
    'SHEEP',
    'GOAT',
    'PIG',
    'POULTRY',
    'HORSE',
    'OTHER'
);


ALTER TYPE public."LivestockSpecies" OWNER TO farmops_prod_user;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."NotificationType" AS ENUM (
    'INFO',
    'SUCCESS',
    'WARNING',
    'ERROR',
    'LOW_STOCK',
    'INCOME_RECORDED',
    'EXPENSE_RECORDED',
    'SYSTEM_UPDATE'
);


ALTER TYPE public."NotificationType" OWNER TO farmops_prod_user;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'TRANSFER'
);


ALTER TYPE public."PaymentMethod" OWNER TO farmops_prod_user;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'UNDER_REVIEW',
    'APPROVED',
    'REJECTED',
    'EXPIRED'
);


ALTER TYPE public."PaymentStatus" OWNER TO farmops_prod_user;

--
-- Name: Priority; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."Priority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."Priority" OWNER TO farmops_prod_user;

--
-- Name: SubscriptionPaymentMethod; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."SubscriptionPaymentMethod" AS ENUM (
    'BANK_TRANSFER',
    'PAYSTACK'
);


ALTER TYPE public."SubscriptionPaymentMethod" OWNER TO farmops_prod_user;

--
-- Name: UsageType; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."UsageType" AS ENUM (
    'INITIAL_STOCK',
    'RESTOCK',
    'FEEDING',
    'PLANTING',
    'SALES',
    'WASTE',
    'TRANSFER',
    'ADJUSTMENT',
    'OTHER'
);


ALTER TYPE public."UsageType" OWNER TO farmops_prod_user;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'MANAGER',
    'WORKER',
    'SUPERUSER',
    'ACCOUNTANT',
    'INVENTORY',
    'VETERINARIAN'
);


ALTER TYPE public."UserRole" OWNER TO farmops_prod_user;

--
-- Name: VatStatus; Type: TYPE; Schema: public; Owner: farmops_prod_user
--

CREATE TYPE public."VatStatus" AS ENUM (
    'PENDING',
    'REMITTED',
    'OVERDUE'
);


ALTER TYPE public."VatStatus" OWNER TO farmops_prod_user;

--
-- Name: increment_password_change_count(); Type: FUNCTION; Schema: public; Owner: farmops_prod_user
--

CREATE FUNCTION public.increment_password_change_count() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE users 
    SET password_change_count = password_change_count + 1,
        last_password_change = CURRENT_TIMESTAMP
    WHERE id = NEW.user_id;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.increment_password_change_count() OWNER TO farmops_prod_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO farmops_prod_user;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.assets (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    subcategory text,
    purchase_date timestamp(3) without time zone,
    supplier text,
    cost numeric(10,2) DEFAULT 0 NOT NULL,
    warranty_period text,
    expected_lifespan integer DEFAULT 10 NOT NULL,
    depreciation_method text DEFAULT 'straight_line'::text NOT NULL,
    "currentCondition" text DEFAULT 'good'::text NOT NULL,
    location text NOT NULL,
    assigned_worker text,
    status text DEFAULT 'planned'::text NOT NULL,
    model text,
    serial_number text,
    power_rating text,
    capacity text,
    fuel_type text,
    maintenance_interval text,
    created_by integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    organization_id integer NOT NULL
);


ALTER TABLE public.assets OWNER TO farmops_prod_user;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_id_seq OWNER TO farmops_prod_user;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: cctv_cameras; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.cctv_cameras (
    id integer NOT NULL,
    name text NOT NULL,
    location text NOT NULL,
    ip_address text,
    resolution text DEFAULT '1080p'::text,
    status text DEFAULT 'offline'::text NOT NULL,
    recording boolean DEFAULT false NOT NULL,
    last_active timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    organization_id integer,
    created_by integer
);


ALTER TABLE public.cctv_cameras OWNER TO farmops_prod_user;

--
-- Name: cctv_cameras_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.cctv_cameras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cctv_cameras_id_seq OWNER TO farmops_prod_user;

--
-- Name: cctv_cameras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.cctv_cameras_id_seq OWNED BY public.cctv_cameras.id;


--
-- Name: crops; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.crops (
    id integer NOT NULL,
    name text NOT NULL,
    planting_date timestamp(3) without time zone NOT NULL,
    expected_harvest timestamp(3) without time zone NOT NULL,
    notes text,
    status public."CropStatus" DEFAULT 'GROWING'::public."CropStatus" NOT NULL,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    actual_harvest timestamp(3) without time zone,
    actual_yield double precision,
    area double precision,
    field text,
    variety text,
    yield double precision,
    zone text NOT NULL
);


ALTER TABLE public.crops OWNER TO farmops_prod_user;

--
-- Name: crops_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.crops_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crops_id_seq OWNER TO farmops_prod_user;

--
-- Name: crops_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.crops_id_seq OWNED BY public.crops.id;


--
-- Name: equipment_status; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.equipment_status (
    id integer NOT NULL,
    equipment_id integer NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    status public."EquipmentStatusType" DEFAULT 'OPERATIONAL'::public."EquipmentStatusType" NOT NULL,
    last_maintenance timestamp(3) without time zone,
    next_maintenance timestamp(3) without time zone,
    operating_hours double precision,
    location text,
    assigned_worker text,
    fuel_level double precision,
    condition text DEFAULT 'good'::text NOT NULL,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.equipment_status OWNER TO farmops_prod_user;

--
-- Name: equipment_status_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.equipment_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_status_id_seq OWNER TO farmops_prod_user;

--
-- Name: equipment_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.equipment_status_id_seq OWNED BY public.equipment_status.id;


--
-- Name: expense_entries; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.expense_entries (
    id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    category text NOT NULL,
    note text,
    date timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    user_id integer NOT NULL,
    merchant text DEFAULT 'Manual Entry'::text,
    "hasReceipt" boolean DEFAULT false NOT NULL,
    "ocrConfidence" integer,
    "ocrSource" text,
    "rawText" text,
    created_by integer,
    organization_id integer NOT NULL,
    receipt_image_url text
);


ALTER TABLE public.expense_entries OWNER TO farmops_prod_user;

--
-- Name: expense_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.expense_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expense_entries_id_seq OWNER TO farmops_prod_user;

--
-- Name: expense_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.expense_entries_id_seq OWNED BY public.expense_entries.id;


--
-- Name: field_activities; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.field_activities (
    id integer NOT NULL,
    worker_name text NOT NULL,
    task text NOT NULL,
    start_time timestamp(3) without time zone NOT NULL,
    end_time timestamp(3) without time zone,
    duration double precision,
    progress double precision DEFAULT 0 NOT NULL,
    zone text,
    field text,
    notes text,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    priority public."Priority" DEFAULT 'MEDIUM'::public."Priority" NOT NULL,
    status public."ActivityStatus" DEFAULT 'IN_PROGRESS'::public."ActivityStatus" NOT NULL
);


ALTER TABLE public.field_activities OWNER TO farmops_prod_user;

--
-- Name: field_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.field_activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.field_activities_id_seq OWNER TO farmops_prod_user;

--
-- Name: field_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.field_activities_id_seq OWNED BY public.field_activities.id;


--
-- Name: health_records; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.health_records (
    id integer NOT NULL,
    livestock_id integer NOT NULL,
    record_type public."HealthRecordType" NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    veterinarian text NOT NULL,
    diagnosis text,
    treatment text,
    medications text,
    notes text,
    follow_up_date timestamp(3) without time zone,
    status public."HealthRecordStatus" DEFAULT 'SCHEDULED'::public."HealthRecordStatus" NOT NULL,
    organization_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.health_records OWNER TO farmops_prod_user;

--
-- Name: health_records_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.health_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.health_records_id_seq OWNER TO farmops_prod_user;

--
-- Name: health_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.health_records_id_seq OWNED BY public.health_records.id;


--
-- Name: income_entries; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.income_entries (
    id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    category text NOT NULL,
    payment_method public."PaymentMethod" NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    user_id integer NOT NULL,
    description text,
    enable_vat boolean DEFAULT false,
    quantity numeric(10,2),
    subtotal numeric(10,2),
    unit_price numeric(10,2),
    vat_amount numeric(10,2),
    vat_rate numeric(5,2) DEFAULT 7.5,
    created_by integer,
    organization_id integer NOT NULL,
    metadata jsonb
);


ALTER TABLE public.income_entries OWNER TO farmops_prod_user;

--
-- Name: income_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.income_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.income_entries_id_seq OWNER TO farmops_prod_user;

--
-- Name: income_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.income_entries_id_seq OWNED BY public.income_entries.id;


--
-- Name: inventory_categories; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.inventory_categories (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    icon text,
    color text,
    parent_id integer,
    is_subcategory boolean DEFAULT false NOT NULL,
    organization_id integer,
    metadata jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.inventory_categories OWNER TO farmops_prod_user;

--
-- Name: inventory_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.inventory_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_categories_id_seq OWNER TO farmops_prod_user;

--
-- Name: inventory_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.inventory_categories_id_seq OWNED BY public.inventory_categories.id;


--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.inventory_items (
    id integer NOT NULL,
    name text NOT NULL,
    type public."InventoryType" NOT NULL,
    unit text NOT NULL,
    quantity numeric(10,2) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    initial_quantity numeric(10,2),
    category_id integer,
    description text,
    expiry_date timestamp(3) without time zone,
    location text,
    metadata jsonb,
    minimum_stock numeric(10,2),
    organization_id integer,
    price_per_unit numeric(10,2),
    purchase_date timestamp(3) without time zone,
    supplier text
);


ALTER TABLE public.inventory_items OWNER TO farmops_prod_user;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.inventory_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_items_id_seq OWNER TO farmops_prod_user;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.inventory_items_id_seq OWNED BY public.inventory_items.id;


--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.inventory_transactions (
    id integer NOT NULL,
    quantity_change numeric(10,2) NOT NULL,
    reason text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    inventory_item_id integer NOT NULL,
    user_id integer NOT NULL,
    cost_per_unit numeric(10,2),
    related_entity text,
    related_entity_id integer,
    total_cost numeric(10,2),
    usage_type public."UsageType"
);


ALTER TABLE public.inventory_transactions OWNER TO farmops_prod_user;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.inventory_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_transactions_id_seq OWNER TO farmops_prod_user;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.inventory_transactions_id_seq OWNED BY public.inventory_transactions.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    invoice_number text NOT NULL,
    client_name text NOT NULL,
    client_email text,
    client_phone text,
    client_address text,
    business_name text NOT NULL,
    business_email text,
    business_phone text,
    business_address text,
    items jsonb NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    tax numeric(10,2) DEFAULT 0 NOT NULL,
    total numeric(10,2) NOT NULL,
    status public."InvoiceStatus" DEFAULT 'PENDING'::public."InvoiceStatus" NOT NULL,
    payment_method public."PaymentMethod",
    due_date timestamp(3) without time zone,
    paid_date timestamp(3) without time zone,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    user_id integer NOT NULL,
    created_by integer,
    paid_by integer
);


ALTER TABLE public.invoices OWNER TO farmops_prod_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO farmops_prod_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: irrigation_schedules; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.irrigation_schedules (
    id integer NOT NULL,
    zone text NOT NULL,
    field text,
    start_time timestamp(3) without time zone NOT NULL,
    end_time timestamp(3) without time zone NOT NULL,
    duration double precision NOT NULL,
    water_amount double precision NOT NULL,
    frequency text NOT NULL,
    last_run timestamp(3) without time zone,
    next_run timestamp(3) without time zone,
    pump_status text,
    flow_rate double precision,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    status public."IrrigationStatus" DEFAULT 'SCHEDULED'::public."IrrigationStatus" NOT NULL
);


ALTER TABLE public.irrigation_schedules OWNER TO farmops_prod_user;

--
-- Name: irrigation_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.irrigation_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.irrigation_schedules_id_seq OWNER TO farmops_prod_user;

--
-- Name: irrigation_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.irrigation_schedules_id_seq OWNED BY public.irrigation_schedules.id;


--
-- Name: livestock; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.livestock (
    id integer NOT NULL,
    name text NOT NULL,
    tag_id text NOT NULL,
    species public."LivestockSpecies" NOT NULL,
    breed text NOT NULL,
    date_of_birth timestamp(3) without time zone,
    gender public."LivestockGender" NOT NULL,
    weight numeric(10,2) NOT NULL,
    location text NOT NULL,
    health_status public."LivestockHealthStatus" DEFAULT 'HEALTHY'::public."LivestockHealthStatus" NOT NULL,
    last_checkup timestamp(3) without time zone,
    notes text,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.livestock OWNER TO farmops_prod_user;

--
-- Name: livestock_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.livestock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.livestock_id_seq OWNER TO farmops_prod_user;

--
-- Name: livestock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.livestock_id_seq OWNED BY public.livestock.id;


--
-- Name: notification_preferences; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.notification_preferences (
    id integer NOT NULL,
    user_id integer NOT NULL,
    email_notifications boolean DEFAULT false NOT NULL,
    low_stock_alerts boolean DEFAULT true NOT NULL,
    daily_reports boolean DEFAULT false NOT NULL,
    weekly_reports boolean DEFAULT false NOT NULL,
    push_notifications boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notification_preferences OWNER TO farmops_prod_user;

--
-- Name: notification_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.notification_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notification_preferences_id_seq OWNER TO farmops_prod_user;

--
-- Name: notification_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.notification_preferences_id_seq OWNED BY public.notification_preferences.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type public."NotificationType" DEFAULT 'INFO'::public."NotificationType" NOT NULL,
    read boolean DEFAULT false NOT NULL,
    user_id integer NOT NULL,
    organization_id integer,
    related_entity text,
    related_entity_id integer,
    metadata jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO farmops_prod_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO farmops_prod_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.organizations (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.organizations OWNER TO farmops_prod_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.organizations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_id_seq OWNER TO farmops_prod_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: password_history; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.password_history (
    id integer NOT NULL,
    user_id integer NOT NULL,
    changed_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    changed_by integer,
    hashed_password text NOT NULL
);


ALTER TABLE public.password_history OWNER TO farmops_prod_user;

--
-- Name: password_history_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.password_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_history_id_seq OWNER TO farmops_prod_user;

--
-- Name: password_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.password_history_id_seq OWNED BY public.password_history.id;


--
-- Name: payment_requests; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.payment_requests (
    id integer NOT NULL,
    user_id integer NOT NULL,
    organization_id integer NOT NULL,
    subscription_id integer,
    plan_id text NOT NULL,
    billing_cycle text NOT NULL,
    payment_reference text NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency text DEFAULT 'NGN'::text NOT NULL,
    payment_method public."SubscriptionPaymentMethod" DEFAULT 'BANK_TRANSFER'::public."SubscriptionPaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    submitted_at timestamp(3) without time zone,
    reviewed_at timestamp(3) without time zone,
    reviewed_by integer,
    reviewer_note text,
    payment_request_expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_requests OWNER TO farmops_prod_user;

--
-- Name: payment_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.payment_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_requests_id_seq OWNER TO farmops_prod_user;

--
-- Name: payment_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.payment_requests_id_seq OWNED BY public.payment_requests.id;


--
-- Name: pest_control; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.pest_control (
    id integer NOT NULL,
    pest_type text NOT NULL,
    treatment_method text NOT NULL,
    application_date timestamp(3) without time zone NOT NULL,
    follow_up_date timestamp(3) without time zone,
    next_spray timestamp(3) without time zone,
    treatment_efficacy double precision DEFAULT 0 NOT NULL,
    last_check timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    affected_area text,
    chemicals_used jsonb,
    cost double precision,
    "threatLevel" text DEFAULT 'LOW'::text NOT NULL,
    severity text NOT NULL
);


ALTER TABLE public.pest_control OWNER TO farmops_prod_user;

--
-- Name: pest_control_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.pest_control_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pest_control_id_seq OWNER TO farmops_prod_user;

--
-- Name: pest_control_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.pest_control_id_seq OWNED BY public.pest_control.id;


--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.push_subscriptions (
    id integer NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.push_subscriptions OWNER TO farmops_prod_user;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.push_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.push_subscriptions_id_seq OWNER TO farmops_prod_user;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.push_subscriptions_id_seq OWNED BY public.push_subscriptions.id;


--
-- Name: soil_analyses; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.soil_analyses (
    id integer NOT NULL,
    zone text NOT NULL,
    field text,
    sample_date timestamp(3) without time zone NOT NULL,
    moisture_level double precision NOT NULL,
    ph_level double precision NOT NULL,
    nitrogen_level double precision NOT NULL,
    phosphorus_level double precision NOT NULL,
    potassium_level double precision NOT NULL,
    organic_matter double precision NOT NULL,
    texture text,
    recommendation text,
    treatment_type text,
    treatment_date timestamp(3) without time zone,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.soil_analyses OWNER TO farmops_prod_user;

--
-- Name: soil_analyses_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.soil_analyses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.soil_analyses_id_seq OWNER TO farmops_prod_user;

--
-- Name: soil_analyses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.soil_analyses_id_seq OWNED BY public.soil_analyses.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    organization_id integer NOT NULL,
    plan text NOT NULL,
    status text NOT NULL,
    "billingCycle" text NOT NULL,
    price numeric(10,2) NOT NULL,
    paystack_reference text,
    expires_at timestamp(3) without time zone,
    activated_at timestamp(3) without time zone,
    cancelled_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    payment_method public."SubscriptionPaymentMethod"
);


ALTER TABLE public.subscriptions OWNER TO farmops_prod_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO farmops_prod_user;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."UserRole" DEFAULT 'WORKER'::public."UserRole" NOT NULL,
    created_by integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    organization_id integer,
    last_password_change timestamp(3) without time zone,
    password_changed_by integer,
    password_change_count integer DEFAULT 0 NOT NULL,
    requires_password_change boolean DEFAULT false NOT NULL,
    address text,
    phone text,
    profile_image_url text,
    password_reset_token text,
    password_reset_expiry timestamp(3) without time zone,
    email_verified boolean DEFAULT false NOT NULL,
    email_verification_token text
);


ALTER TABLE public.users OWNER TO farmops_prod_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO farmops_prod_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vaccinations; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.vaccinations (
    id integer NOT NULL,
    livestock_id integer NOT NULL,
    vaccine_name text NOT NULL,
    vaccine_type text,
    administration_date timestamp(3) without time zone NOT NULL,
    next_due_date timestamp(3) without time zone,
    veterinarian text NOT NULL,
    batch_number text,
    notes text,
    organization_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.vaccinations OWNER TO farmops_prod_user;

--
-- Name: vaccinations_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.vaccinations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vaccinations_id_seq OWNER TO farmops_prod_user;

--
-- Name: vaccinations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.vaccinations_id_seq OWNED BY public.vaccinations.id;


--
-- Name: vat_records; Type: TABLE; Schema: public; Owner: farmops_prod_user
--

CREATE TABLE public.vat_records (
    id integer NOT NULL,
    period text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "vatAmount" numeric(10,2) NOT NULL,
    "transactionCount" integer DEFAULT 0 NOT NULL,
    status public."VatStatus" DEFAULT 'PENDING'::public."VatStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    user_id integer NOT NULL,
    organization_id integer NOT NULL
);


ALTER TABLE public.vat_records OWNER TO farmops_prod_user;

--
-- Name: vat_records_id_seq; Type: SEQUENCE; Schema: public; Owner: farmops_prod_user
--

CREATE SEQUENCE public.vat_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vat_records_id_seq OWNER TO farmops_prod_user;

--
-- Name: vat_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: farmops_prod_user
--

ALTER SEQUENCE public.vat_records_id_seq OWNED BY public.vat_records.id;


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: cctv_cameras id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.cctv_cameras ALTER COLUMN id SET DEFAULT nextval('public.cctv_cameras_id_seq'::regclass);


--
-- Name: crops id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.crops ALTER COLUMN id SET DEFAULT nextval('public.crops_id_seq'::regclass);


--
-- Name: equipment_status id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.equipment_status ALTER COLUMN id SET DEFAULT nextval('public.equipment_status_id_seq'::regclass);


--
-- Name: expense_entries id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.expense_entries ALTER COLUMN id SET DEFAULT nextval('public.expense_entries_id_seq'::regclass);


--
-- Name: field_activities id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.field_activities ALTER COLUMN id SET DEFAULT nextval('public.field_activities_id_seq'::regclass);


--
-- Name: health_records id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.health_records ALTER COLUMN id SET DEFAULT nextval('public.health_records_id_seq'::regclass);


--
-- Name: income_entries id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.income_entries ALTER COLUMN id SET DEFAULT nextval('public.income_entries_id_seq'::regclass);


--
-- Name: inventory_categories id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_categories ALTER COLUMN id SET DEFAULT nextval('public.inventory_categories_id_seq'::regclass);


--
-- Name: inventory_items id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_items ALTER COLUMN id SET DEFAULT nextval('public.inventory_items_id_seq'::regclass);


--
-- Name: inventory_transactions id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_transactions ALTER COLUMN id SET DEFAULT nextval('public.inventory_transactions_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: irrigation_schedules id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.irrigation_schedules ALTER COLUMN id SET DEFAULT nextval('public.irrigation_schedules_id_seq'::regclass);


--
-- Name: livestock id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.livestock ALTER COLUMN id SET DEFAULT nextval('public.livestock_id_seq'::regclass);


--
-- Name: notification_preferences id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notification_preferences ALTER COLUMN id SET DEFAULT nextval('public.notification_preferences_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: password_history id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.password_history ALTER COLUMN id SET DEFAULT nextval('public.password_history_id_seq'::regclass);


--
-- Name: payment_requests id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests ALTER COLUMN id SET DEFAULT nextval('public.payment_requests_id_seq'::regclass);


--
-- Name: pest_control id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.pest_control ALTER COLUMN id SET DEFAULT nextval('public.pest_control_id_seq'::regclass);


--
-- Name: push_subscriptions id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.push_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.push_subscriptions_id_seq'::regclass);


--
-- Name: soil_analyses id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.soil_analyses ALTER COLUMN id SET DEFAULT nextval('public.soil_analyses_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vaccinations id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vaccinations ALTER COLUMN id SET DEFAULT nextval('public.vaccinations_id_seq'::regclass);


--
-- Name: vat_records id; Type: DEFAULT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vat_records ALTER COLUMN id SET DEFAULT nextval('public.vat_records_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: cctv_cameras; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.cctv_cameras (id, name, location, ip_address, resolution, status, recording, last_active, created_at, updated_at, organization_id, created_by) FROM stdin;
\.


--
-- Data for Name: crops; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.crops (id, name, planting_date, expected_harvest, notes, status, organization_id, created_at, updated_at, actual_harvest, actual_yield, area, field, variety, yield, zone) FROM stdin;
\.


--
-- Data for Name: equipment_status; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.equipment_status (id, equipment_id, name, type, status, last_maintenance, next_maintenance, operating_hours, location, assigned_worker, fuel_level, condition, organization_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: expense_entries; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: field_activities; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.field_activities (id, worker_name, task, start_time, end_time, duration, progress, zone, field, notes, organization_id, created_at, updated_at, priority, status) FROM stdin;
\.


--
-- Data for Name: health_records; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.health_records (id, livestock_id, record_type, date, veterinarian, diagnosis, treatment, medications, notes, follow_up_date, status, organization_id, user_id, created_at, updated_at) FROM stdin;
1	1	VACCINATION	2026-06-07 00:00:00	Veterinarian Kelechi	A little bit ill	Treatment to follow	Medicine goes here	Notes go here	2026-06-08 00:00:00	SCHEDULED	1	34	2026-06-07 12:28:37.796	2026-06-07 12:28:37.796
\.


--
-- Data for Name: income_entries; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: inventory_categories; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: irrigation_schedules; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.irrigation_schedules (id, zone, field, start_time, end_time, duration, water_amount, frequency, last_run, next_run, pump_status, flow_rate, organization_id, created_at, updated_at, status) FROM stdin;
\.


--
-- Data for Name: livestock; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.livestock (id, name, tag_id, species, breed, date_of_birth, gender, weight, location, health_status, last_checkup, notes, organization_id, created_at, updated_at) FROM stdin;
1	Native Goat	GN-0001	GOAT	Native	2026-06-01 00:00:00	MALE	10.00	Farm	HEALTHY	2026-06-07 12:26:39.352	Notes go here	1	2026-06-07 12:26:39.354	2026-06-07 12:26:39.354
\.


--
-- Data for Name: notification_preferences; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.notification_preferences (id, user_id, email_notifications, low_stock_alerts, daily_reports, weekly_reports, push_notifications, created_at, updated_at) FROM stdin;
1	40	f	t	f	f	t	2026-07-05 21:58:19.993	2026-07-05 21:58:19.993
2	6	f	t	f	f	t	2026-07-05 21:59:07.071	2026-07-06 07:54:44.78
7	5	f	t	f	f	t	2026-07-10 12:29:38.218	2026-07-10 12:29:38.218
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: password_history; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.password_history (id, user_id, changed_at, changed_by, hashed_password) FROM stdin;
\.


--
-- Data for Name: payment_requests; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: pest_control; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.pest_control (id, pest_type, treatment_method, application_date, follow_up_date, next_spray, treatment_efficacy, last_check, notes, organization_id, created_at, updated_at, affected_area, chemicals_used, cost, "threatLevel", severity) FROM stdin;
\.


--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.push_subscriptions (id, endpoint, p256dh, auth, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: soil_analyses; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.soil_analyses (id, zone, field, sample_date, moisture_level, ph_level, nitrogen_level, phosphorus_level, potassium_level, organic_matter, texture, recommendation, treatment_type, treatment_date, organization_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--



--
-- Data for Name: vaccinations; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.vaccinations (id, livestock_id, vaccine_name, vaccine_type, administration_date, next_due_date, veterinarian, batch_number, notes, organization_id, created_at, updated_at) FROM stdin;
1	1	Test Vac 1	Antivirus	2026-06-07 00:00:00	2026-06-14 00:00:00	Kelechi Veterinarian	2	Notes go here	1	2026-06-07 12:58:43.107	2026-06-07 12:58:43.107
\.


--
-- Data for Name: vat_records; Type: TABLE DATA; Schema: public; Owner: farmops_prod_user
--

COPY public.vat_records (id, period, date, "vatAmount", "transactionCount", status, created_at, updated_at, user_id, organization_id) FROM stdin;
\.


--
-- Name: assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.assets_id_seq', 2, true);


--
-- Name: cctv_cameras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.cctv_cameras_id_seq', 2, true);


--
-- Name: crops_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.crops_id_seq', 1, false);


--
-- Name: equipment_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.equipment_status_id_seq', 1, false);


--
-- Name: expense_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.expense_entries_id_seq', 72, true);


--
-- Name: field_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.field_activities_id_seq', 1, false);


--
-- Name: health_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.health_records_id_seq', 1, true);


--
-- Name: income_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.income_entries_id_seq', 149, true);


--
-- Name: inventory_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.inventory_categories_id_seq', 59, true);


--
-- Name: inventory_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.inventory_items_id_seq', 336, true);


--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.inventory_transactions_id_seq', 212, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.invoices_id_seq', 5, true);


--
-- Name: irrigation_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.irrigation_schedules_id_seq', 1, false);


--
-- Name: livestock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.livestock_id_seq', 1, true);


--
-- Name: notification_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.notification_preferences_id_seq', 7, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 915, true);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.organizations_id_seq', 7, true);


--
-- Name: password_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.password_history_id_seq', 1, false);


--
-- Name: payment_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.payment_requests_id_seq', 7, true);


--
-- Name: pest_control_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.pest_control_id_seq', 1, false);


--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.push_subscriptions_id_seq', 7, true);


--
-- Name: soil_analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.soil_analyses_id_seq', 1, false);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 20, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.users_id_seq', 41, true);


--
-- Name: vaccinations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.vaccinations_id_seq', 1, true);


--
-- Name: vat_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: farmops_prod_user
--

SELECT pg_catalog.setval('public.vat_records_id_seq', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: cctv_cameras cctv_cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_pkey PRIMARY KEY (id);


--
-- Name: crops crops_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.crops
    ADD CONSTRAINT crops_pkey PRIMARY KEY (id);


--
-- Name: equipment_status equipment_status_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_pkey PRIMARY KEY (id);


--
-- Name: expense_entries expense_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.expense_entries
    ADD CONSTRAINT expense_entries_pkey PRIMARY KEY (id);


--
-- Name: field_activities field_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.field_activities
    ADD CONSTRAINT field_activities_pkey PRIMARY KEY (id);


--
-- Name: health_records health_records_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.health_records
    ADD CONSTRAINT health_records_pkey PRIMARY KEY (id);


--
-- Name: income_entries income_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.income_entries
    ADD CONSTRAINT income_entries_pkey PRIMARY KEY (id);


--
-- Name: inventory_categories inventory_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_categories
    ADD CONSTRAINT inventory_categories_pkey PRIMARY KEY (id);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: irrigation_schedules irrigation_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.irrigation_schedules
    ADD CONSTRAINT irrigation_schedules_pkey PRIMARY KEY (id);


--
-- Name: livestock livestock_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.livestock
    ADD CONSTRAINT livestock_pkey PRIMARY KEY (id);


--
-- Name: notification_preferences notification_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT notification_preferences_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: password_history password_history_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.password_history
    ADD CONSTRAINT password_history_pkey PRIMARY KEY (id);


--
-- Name: payment_requests payment_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_pkey PRIMARY KEY (id);


--
-- Name: pest_control pest_control_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.pest_control
    ADD CONSTRAINT pest_control_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: soil_analyses soil_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.soil_analyses
    ADD CONSTRAINT soil_analyses_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vaccinations vaccinations_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vaccinations
    ADD CONSTRAINT vaccinations_pkey PRIMARY KEY (id);


--
-- Name: vat_records vat_records_pkey; Type: CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vat_records
    ADD CONSTRAINT vat_records_pkey PRIMARY KEY (id);


--
-- Name: income_entries_description_idx; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE INDEX income_entries_description_idx ON public.income_entries USING btree (description);


--
-- Name: invoices_invoice_number_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX invoices_invoice_number_key ON public.invoices USING btree (invoice_number);


--
-- Name: livestock_tag_id_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX livestock_tag_id_key ON public.livestock USING btree (tag_id);


--
-- Name: notification_preferences_user_id_idx; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE INDEX notification_preferences_user_id_idx ON public.notification_preferences USING btree (user_id);


--
-- Name: notification_preferences_user_id_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX notification_preferences_user_id_key ON public.notification_preferences USING btree (user_id);


--
-- Name: payment_requests_payment_reference_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX payment_requests_payment_reference_key ON public.payment_requests USING btree (payment_reference);


--
-- Name: push_subscriptions_endpoint_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX push_subscriptions_endpoint_key ON public.push_subscriptions USING btree (endpoint);


--
-- Name: push_subscriptions_user_id_idx; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE INDEX push_subscriptions_user_id_idx ON public.push_subscriptions USING btree (user_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: farmops_prod_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: password_history trigger_password_change_count; Type: TRIGGER; Schema: public; Owner: farmops_prod_user
--

CREATE TRIGGER trigger_password_change_count AFTER INSERT ON public.password_history FOR EACH ROW EXECUTE FUNCTION public.increment_password_change_count();


--
-- Name: assets assets_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cctv_cameras cctv_cameras_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cctv_cameras cctv_cameras_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: crops crops_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.crops
    ADD CONSTRAINT crops_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: equipment_status equipment_status_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.assets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: equipment_status equipment_status_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: expense_entries expense_entries_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.expense_entries
    ADD CONSTRAINT expense_entries_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: expense_entries expense_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.expense_entries
    ADD CONSTRAINT expense_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: field_activities field_activities_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.field_activities
    ADD CONSTRAINT field_activities_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: health_records health_records_livestock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.health_records
    ADD CONSTRAINT health_records_livestock_id_fkey FOREIGN KEY (livestock_id) REFERENCES public.livestock(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: health_records health_records_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.health_records
    ADD CONSTRAINT health_records_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: income_entries income_entries_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.income_entries
    ADD CONSTRAINT income_entries_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: income_entries income_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.income_entries
    ADD CONSTRAINT income_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_categories inventory_categories_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_categories
    ADD CONSTRAINT inventory_categories_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_categories inventory_categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_categories
    ADD CONSTRAINT inventory_categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.inventory_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_items inventory_items_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.inventory_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_items inventory_items_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_transactions inventory_transactions_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_transactions inventory_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_paid_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_paid_by_fkey FOREIGN KEY (paid_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: invoices invoices_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: irrigation_schedules irrigation_schedules_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.irrigation_schedules
    ADD CONSTRAINT irrigation_schedules_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: livestock livestock_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.livestock
    ADD CONSTRAINT livestock_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notification_preferences notification_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT notification_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_history password_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.password_history
    ADD CONSTRAINT password_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_requests payment_requests_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_requests payment_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payment_requests payment_requests_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payment_requests payment_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pest_control pest_control_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.pest_control
    ADD CONSTRAINT pest_control_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: soil_analyses soil_analyses_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.soil_analyses
    ADD CONSTRAINT soil_analyses_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vaccinations vaccinations_livestock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vaccinations
    ADD CONSTRAINT vaccinations_livestock_id_fkey FOREIGN KEY (livestock_id) REFERENCES public.livestock(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vat_records vat_records_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: farmops_prod_user
--

ALTER TABLE ONLY public.vat_records
    ADD CONSTRAINT vat_records_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO farmops_prod_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO farmops_prod_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO farmops_prod_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO farmops_prod_user;


--
-- PostgreSQL database dump complete
--

\unrestrict lLkWUWkLzhVotmXhs9a4LvGEZ962ku2csWABiuiVTtl2BguGa7NBUH5xyjvasjS

